@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@media (max-width: 3000px) {
html {
    scroll-behavior: smooth;
    margin: 0;
}
html, body
    {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #81A1C1;

}
.Header-computador{
    position: fixed;
    font-family: 'rubik';
    width: 100%;
    height: 65px;
    background-color: #292E39;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    z-index: 1000;
}
.Header-computador > .div-computador01{
    height: auto;
    display: flex;
    color: white;
    gap: 20px;
}
.Header-computador > .div-computador01 > p {
    font-weight: bold;
    font-size: 25px;
    height: auto;
    display: flex;
    color: white;
    gap: 20px;
    justify-content: center;
}
.Header-computador > .nav-computador{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header-computador > .nav-computador > ul{
    gap: 20px;
    display: flex;
    padding: 0;
}
.Header-computador > .nav-computador > ul > li{
    display: flex;
    align-items: center;
}
.Header-computador > .nav-computador > ul > li > a{
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background: #2E3440;
    padding: 7px 20px 7px 20px;
}
.Header-computador > .nav-computador > ul > li > a > svg{
  display: none;
}
.Header-computador > .nav-computador > ul > li > a:hover,
.Header-computador > .nav-computador > ul > li > a.active{
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background: #D08770;
    padding: 7px 20px 7px 20px;
    margin-bottom: 10px;
}
.main-computador-intro{
    background-color: #81A1C1;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.main-computador-intro > .div-computador-intro01{
    top: 65px;
    margin-top: 5%;
    position:relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-computador-intro > .div-computador-intro01 > svg{
    width: 75%;
    height: auto;
    position: relative;
    z-index: 500;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}
.main-computador-intro > .div-computador-intro01> .img-computador-intro01{
    z-index: 600;
    position: absolute;
    display: flex;
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-right: 16%;
}
.main-computador-intro > .div-computador-intro01> .img-computador-intro02{
  display: none;
}
.main-computador-intro > .div-computador-intro01 > .section-computador-intro01{
    z-index: 700;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 30%;
    margin-right: 5%;
    color:#002024;
    font-weight: bold;
    display: flex;
}
.main-computador-sobre{
    align-items: center;
    width: 100%;
    height: auto;
    background: #81A1C1;
    display: flex;
}
.main-computador-sobre > .div-computador-sobre-01{
    position: relative;
    top: 65px;
    align-items: center;
    width: 100%;
    height: auto;
    background: #81A1C1;
    display: grid;
    margin-top: 5%;
}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01{
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 55% 35%;
    grid-template-rows: 60% 30%;
    gap: 8% 3%;

}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-02{
    border: 0.7vw solid #292E39;
    border-radius: 2vw;
    width: 100%;
    height: 90%;
    background-color: white;
}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-02 > h1{
    font-size: 2.5vw;
    margin: 1.5vw 0vw 1vw 2vw;
    color: #2E3440;
    font-family: 'rubik';

}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-02 > p{
    font-size: 2vw;
    margin: 0vw 5vw 1vw 2vw;
    color: #2E3440;
    font-family: 'rubik';

}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > img{
    border: 0.7vw solid #292E39;
    border-radius: 50%;
    width: 80%;
    height: auto;
}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-03{
    border: 0.7vw solid #292E39;
    border-radius: 2vw;
    width: 100%;
    height: 100%;
    background-color: white;
}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-03 > h1{
    font-size: 2.5vw;
    margin: 1vw 0vw 1vw 2vw;
    color: #2E3440;
    font-family: 'rubik';
}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-03 > p{
    font-size: 2vw;
    margin: 0vw 1vw 1vw 2vw;
    color: #2E3440;
    font-family: 'rubik';
}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-04{
    border: 0.7vw solid #292E39;
    border-radius: 2vw;
    width: 90%;
    height: 100%;
    background-color: white;
}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-04 > h1{
    font-size: 2.5vw;
    margin: 1vw 0vw 1vw 2vw;
    color: #2E3440;
    font-family: 'rubik';

}
.main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-04 > p{
    font-size: 2vw;
    margin: 0vw 1vw 1vw 2vw;
    color: #2E3440;
    font-family: 'rubik';
}
.main-computador-habilidades{
    width: 100%;
    height: auto;
    background-color: #81A1C1;
    display: flex;
}
.main-computador-habilidades > .div-computador-habilidades-01{
    position: relative;
    top: 65px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 7vw;
    margin-top:  5%;
    margin-bottom: 10%;
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01{
    display: grid;
    grid-template-rows: 30% 80%;
    grid-auto-columns: 70%;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-02{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E3440;
    width: 100%;
    height: auto;
    border-radius: 3vw 3vw 0px 0px;
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-02 > p{
    color: white;
    font-size: 3vw;
    font-family: 'rubik';
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-03{
    justify-items: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 5px solid #2E3440;
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-03 > article{
    justify-items: center;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
    justify-content: center;
    text-align: center;
    color:#2E3440;
    font-size: 1vw;
    font-family:'rubik';
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-03 > article > svg{
    background-color: #292E39;
    width: 10vw;
    height: auto;

}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-03 > article > p{
    background-color: white;
    width: 100%;
    height: auto;
    font-size: 1.5vw;

}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02{
    display: grid;
    grid-template-rows: 30% 80%;
    grid-auto-columns: 70%;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-04{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E3440;
    width: 100%;
    height: auto;
    border-radius: 3vw 3vw 0px 0px;
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-04 > p{
    color: white;
    font-size: 3vw;
    font-family: 'rubik';
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-05{
    justify-items: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 5px solid #2E3440;
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-05 > article{
    justify-items: center;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
    text-align: center;
    color:#2E3440;
    font-size: 1vw;
    font-family:'rubik';
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-05 > article > svg{
    background-color: #292E39;
    width: 10vw;
    height: auto;

}
.main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-05 > article > p{
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 1.5vw;

}
.main-computador-projetos{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #81A1C1;
}
.main-computador-projetos > .section-computador-projetos-01{
    position: relative;
    top: 65px;
    margin-top: 5%;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    align-content: center;
}
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-01{
    width: 25vw;
    height: 25vw;
    display: flex;
    background-color: white;
    border-radius: 1vw;
    border:1vw solid #2E3440
}
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02{
    width: 60vw;
    height: 25vw;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    background-color: white;
    border-radius: 1vw;
    border:1vw solid #2E3440
}
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > h1{
    margin: 2vw;
    font-size: 3.5vw;
    font-family: 'rubik';
    color: #2E3440;
}
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > p{
    margin: 20px;
    font-size: 2.1vw;
    font-family: 'rubik';
    color: #2E3440;
    align-items: center;
    align-content: center;
    margin: 0vw 1vw 0vw 2vw;
}
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1vw;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
}
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a{
    display: flex; 
    border: 0.5vw solid #2E3440;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 3.5vw;
    width: 12vw;
    text-decoration: none;
    margin-right: 2vw;

}
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'rubik';
    gap: 10px;
    color: #2E3440;
    font-weight: bold;
}
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a > p > svg{
    stroke: #2E3440;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 3vw;
    height: auto;
}
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a:hover,
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a:hover > p,
.main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a:hover > p > svg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'rubik';
    color:white;
    font-weight: bold;
    text-decoration: none;
    background-color: #2E3440;
    stroke:white;
}
.main-computador-contatos{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #81A1C1;
}
.main-computador-contatos > .section-computador-contatos-01{
    position: relative;
    top: 65px;
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20vw 20vw;
    gap: 4vw 0vw;
    justify-content: center;
    justify-items: center;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-01{
    width: 35vw;
    height: auto;
    display: grid;
    grid-template-rows: 85% 15%;
    grid-row: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #922B21;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 50px 5px #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-01:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2E3440;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-01 > svg{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-01 > p{
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5vw;
    font-family: 'rubik';
    color: white;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-02{
    width: 35vw;
    height: auto;
    display:grid;
    grid-template-rows: 85% 15%;
    grid-row: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #598065;
    box-shadow: 0px 29px 120px 10px #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-02:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2E3440;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-02 > svg{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-02 > p{
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5vw;
    font-family: 'rubik';
    color: white;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-03{
    width: 35vw;
    height: auto;
    display: grid;
    grid-template-rows: 85% 15%;
    grid-row: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #305280;
    box-shadow: 0px 4px 50px 5px #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-03:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2E3440;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-03 > svg{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-03 > p{
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 1vw;
    font-size: 1.5vw;
    font-family: 'rubik';
    color: white;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-04{
    width: 35vw;
    height: auto;
    display: grid;
    grid-template-rows: 85% 15%;
    grid-column: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #000000;
    box-shadow: 0px 29px 120px 10px #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-04:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2E3440;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-04 > svg{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-04 > p{
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 1vw;
    font-size: 1.5vw;
    font-family: 'rubik';
    color: white;
}
}
@media (max-width:1100px){
    .Header-computador{
        position: fixed;
        font-family: 'rubik';
        width: 100%;
        height: 65px;
        background-color: #292E39;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0%;
        z-index: 1000;
    }
    .Header-computador > .div-computador01 > p {
     display: none;
    }
    .Header-computador > .nav-computador{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Header-computador > .nav-computador > ul{
        gap: 20px;
        display: flex;
        padding: 0;
    }
    .Header-computador > .nav-computador > ul > li{
        display: flex;
        align-items: center;
    }
    .Header-computador > .nav-computador > ul > li > a{
        text-align: center;
        border-radius: 10px;
        font-size: 2vw;
        text-decoration: none;
        color: white;
        background: #2E3440;
        padding: 7px 20px 7px 20px;
    }
    .Header-computador > .nav-computador > ul > li > a > svg{
      display: none;
    }
    .Header-computador > .nav-computador > ul > li > a:hover,
    .Header-computador > .nav-computador > ul > li > a.active{
        border-radius: 10px;
        font-size: 2vw;
        text-decoration: none;
        color: white;
        background: #D08770;
        padding: 7px 20px 7px 20px;
        margin-bottom: 10px;
    }
}
@media (max-width: 450px) {
    html {
        scroll-behavior: smooth;
        margin: 0;
    }
    html, body
        {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .Header-computador{
        position: fixed;
        font-family: 'rubik';
        width: 100%;
        height: 65px;
        background-color: #292E39;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .Header-computador > .div-computador01{
       display: none;
    }
    .Header-computador > .div-computador01 > p {
       display: none;
    }
    .Header-computador > .nav-computador{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Header-computador > .nav-computador > ul{
        gap: 5vw;
        display: flex;
        padding: 0;
    }
    .Header-computador > .nav-computador > ul > li{
        display: flex;
        align-items: center;
    }
    .Header-computador > .nav-computador > ul > li > a{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        font-size: 2.3vw;
        text-decoration: none;
        color: white;
        background: #2E3440;
        padding: 3px 7px 3px 7px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .Header-computador > .nav-computador > ul > li > a > svg{
      display: flex;
      width: 38px;
      height: auto;
      align-items: center;
      justify-content: center;
    }
    .Header-computador > .nav-computador > ul > li > a:hover,
    .Header-computador > .nav-computador > ul > li > a.active{
        border-radius: 8px;
        font-size: 2.3vw;
        text-decoration: none;
        color: white;
        background: #D08770;
        padding: 3px 7px 3px 7px;
        margin-bottom: 10px;
    }
    .main-computador-intro{
        background-color: #81A1C1;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .main-computador-intro > .div-computador-intro01{
        margin-top: 5%;
        position:static;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main-computador-intro > .div-computador-intro01 > svg{
        display: none;
    }
    .main-computador-intro > .div-computador-intro01> .img-computador-intro01{
        display: none;
    }
    .main-computador-intro > .div-computador-intro01> .img-computador-intro02{
        z-index: 600;
        position: relative;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .main-computador-intro > .div-computador-intro01 > .section-computador-intro01{
        z-index: 700;
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 6vw;
        font-weight: bold;
        margin-top: 74%;
        color:#002024;
        font-weight: bold;
        display: flex;
    }
    .main-computador-intro > .div-computador-intro01 > .section-computador-intro01 > p{
        margin-left: 30%;
    }
    .main-computador-sobre{
        width: 100%;
        height: 100%;
        background: #81A1C1;
        display: flex;
    }
    .main-computador-sobre > .div-computador-sobre-01{
        position: static;
        width: 100%;
        height: auto;
        background: #81A1C1;
        display: grid;
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01{
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: 45% 45%;
        grid-template-rows: 75% 35%;
        gap: 1% 5%;    
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-02{
        border: 0.7vw solid #292E39;
        border-radius: 2vw;
        width: 100%;
        height: 90%;
        background-color: white;
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-02 > h1{
        font-size: 4vw;
        margin: 1.5vw 0vw 1vw 2vw;
        color: #2E3440;
        font-family: 'rubik';
    
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-02 > p{
        font-size: 3vw;
        margin: 0vw 5vw 1vw 2vw;
        color: #2E3440;
        font-family: 'rubik';
    
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > img{
        border: 0.7vw solid #292E39;
        border-radius: 50%;
        width: 90%;
        height: auto;
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-03{
        border: 0.7vw solid #292E39;
        border-radius: 2vw;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-03 > h1{
        font-size: 4vw;
        margin: 1vw 0vw 1vw 2vw;
        color: #2E3440;
        font-family: 'rubik';
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-03 > p{
        font-size: 3vw;
        margin: 0vw 1vw 1vw 2vw;
        color: #2E3440;
        font-family: 'rubik';
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-04{
        border: 0.7vw solid #292E39;
        border-radius: 2vw;
        width: 90%;
        height: 100%;
        background-color: white;
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-04 > h1{
        font-size: 4vw;
        margin: 1vw 0vw 1vw 2vw;
        color: #2E3440;
        font-family: 'rubik';
    
    }
    .main-computador-sobre > .div-computador-sobre-01 > .section-computador-sobre-01 > .div-computador-sobre-04 > p{
        font-size: 3vw;
        margin: 0vw 0vw 1vw 2vw;
        color: #2E3440;
        font-family: 'rubik';
    }
    .main-computador-habilidades{
        width: 100%;
        height: auto;
        background-color: #81A1C1;
        display: flex;
    }
    .main-computador-habilidades > .div-computador-habilidades-01{
        position: relative;
        top: 65px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 7vw;
        margin-top:  30px;
        margin-bottom: 100px;
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01{
        display: grid;
        grid-template-rows: 30% 80%;
        grid-auto-columns: 90%;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-02{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2E3440;
        width: 100%;
        height: auto;
        border-radius: 3vw 3vw 0px 0px;
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-02 > p{
        color: white;
        font-size: 4vw;
        font-family: 'rubik';
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-03{
        justify-items: center;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 100%;
        gap: 5%;
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 20px 20px;
        border-bottom: 5px solid #2E3440;
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-03 > article{
        justify-items: center;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 75% 25%;
        justify-content: center;
        text-align: center;
        color:#2E3440;
        font-size: 1vw;
        font-family:'rubik';
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-03 > article > svg{
        background-color: #292E39;
        width: 15vw;
        height: auto;
    
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-01 > .div-computador-habilidades-03 > article > p{
        background-color: white;
        width: 100%;
        height: auto;
        font-size: 2.5vw;
    
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02{
        display: grid;
        grid-template-rows: 30% 80%;
        grid-auto-columns: 90%;
        width: 100%;
        height: auto;
        justify-content: center;
        align-content: center;
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-04{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2E3440;
        width: 100%;
        height: auto;
        border-radius: 3vw 3vw 0px 0px;
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-04 > p{
        color: white;
        font-size: 4vw;
        font-family: 'rubik';
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-05{
        justify-items: center;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 20% 20% 20% 20%;
        gap: 5%;
        background-color: white;
        width: 100%;
        height: auto;
        border-radius: 0px 0px 20px 20px;
        border-bottom: 5px solid #2E3440;
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-05 > article{
        justify-items: center;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 75% 25%;
        text-align: center;
        color:#2E3440;
        font-size: 1vw;
        font-family:'rubik';
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-05 > article > svg{
        background-color: #292E39;
        width: 15vw;
        height: auto;
    
    }
    .main-computador-habilidades > .div-computador-habilidades-01 > .section-computador-habilidades-02 > .div-computador-habilidades-05 > article > p{
        background-color: white;
        width: 100%;
        height: 100%;
        font-size: 2.5vw;
    
    }
    .main-computador-projetos{
        width: 100%;
        height: auto;
        display: flex;
        background-color: #81A1C1;
    }
    .main-computador-projetos > .section-computador-projetos-01{
        position: relative;
        top: 65px;
        margin-top: 5%;
        width: 100%;
        height: auto;
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        align-content: center;
        flex-direction: column;
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-01{
        width: 45vw;
        height: 45vw;
        display: flex;
        background-color: white;
        border-radius: 1vw;
        border:1vw solid #2E3440
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-01 > img{
        width: 100%;
        height: auto;
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02{
        width: 80vw;
        height: 25vw;
        display: grid;
        grid-template-rows: 25% 50% 25%;
        background-color: white;
        border-radius: 1vw;
        border:1vw solid #2E3440
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > h1{
        margin: 2vw;
        font-size: 4vw;
        font-family: 'rubik';
        color: #2E3440;
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > p{
        margin: 20px;
        font-size: 3vw;
        font-family: 'rubik';
        color: #2E3440;
        align-items: center;
        align-content: center;
        margin: 0vw 1vw 0vw 2vw;
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article{
        display: flex;
        width: 100%;
        height: 100%;
        gap: 1vw;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-content: center;
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a{
        display: flex; 
        border: 0.5vw solid #2E3440;
        background-color: white;
        justify-content: center;
        align-items: center;
        height: 5vw;
        width: 20vw;
        text-decoration: none;
        margin-right: 1vw;
    
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a > p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        font-family: 'rubik';
        gap: 10px;
        color: #2E3440;
        font-weight: bold;
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a > p > svg{
        stroke: #2E3440;
        stroke-width: 6;
        stroke-linecap: round;
        stroke-linejoin: round;
        width: 5vw;
        height: auto;
    }
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a:hover,
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a:hover > p,
    .main-computador-projetos > .section-computador-projetos-01 > .div-computador-projetos-02 > article > a:hover > p > svg{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        font-family: 'rubik';
        color:white;
        font-weight: bold;
        text-decoration: none;
        background-color: #2E3440;
        stroke:white;
    }
    .main-computador-contatos{
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #81A1C1;
    }
    .main-computador-contatos > .section-computador-contatos-01{
        position: static;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 25% 25%;
        justify-content: center;
        justify-items: center;
        align-content: center;
        gap: 3vw 3vw;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-01{
        width: 100%;
        height: 100%;
        display: flex;
        grid-row: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #922B21;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 50px 5px #000000;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-01:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2E3440;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-01 > svg{
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-01 > p{
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
        font-size: 0vw;
        font-family: 'rubik';
        color: white;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-02{
        width: 100%;
        height: 100%;
        display:flex;
        grid-row: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #598065;
        box-shadow: 0px 29px 120px 10px #000000;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-02:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2E3440;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-02 > svg{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-02 > p{
       display: none;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-03{
        width: 100%;
        height: 100%;
        display: flex;
        grid-row: 2;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #305280;
        box-shadow: 0px 4px 50px 5px #000000;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-03:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2E3440;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-03 > svg{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-03 > p{
        display: none;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-04{
        width: 100%;
        height: 100%;
        display: flex;
        grid-column: 2;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #000000;
        box-shadow: 0px 29px 120px 10px #000000;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-04:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2E3440;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-04 > svg{
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-computador-contatos > .section-computador-contatos-01 > .div-computador-contatos-04 > p{
      display: none;
    }
    }
